* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #e2e5e0;
}

h1 {
  font-family: "Raleway", sans-serif;
}
