.body {
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  display: block;
  padding: 5px;
  position: relative;
}

ul li a:hover {
  perspective: 1000px;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: spin;
  font-weight: 700;
}
@keyframes spin {
  to {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
  }
}
