.card_container {
  width: 90%;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid black;
  box-shadow: 5px -5px 0 -2px white, 5px -5px, 10px -10px 0 -2px white,
    10px -10px;
  position: relative;
}

.card_container img {
  border-radius: 50%;
  border: 2px solid black;
  filter: grayscale(1);
}

.card_container img:hover {
  cursor: pointer;
  filter: grayscale(0);
}

.card_container p {
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 12px;
}

.card_container p:hover,
.service:hover {
  cursor: pointer;
}

.icon {
  padding-right: 10px;
}

.card_container span {
  font-weight: 900;
  font-size: 35px;
}

.card_container p:first-child {
  font-size: 25px;
  font-weight: 600;
}

.service {
  border: 1px solid black;
  width: 80px;
  border-radius: 50px;
  padding: 5px;
  background-color: #e2e5e0;
  position: absolute;
  top: 10px;
  right: 10px;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 10px;
}

.card_container span:hover {
  display: inline-block;
  perspective: 1000px;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: spin;
}
@keyframes spin {
  to {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
  }
}

@media only screen and (min-width: 600px) {
  .card_container {
    width: 90%;
  }
  .card_container p {
    font-size: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .card_container {
    width: 90%;
  }
  .card_container p {
    font-size: 12px;
  }
}
