.user_profil_title {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: palegreen;
  padding: 20px;
}
.user_profil_title h1 {
  border-radius: 30px;
  border: 2px solid black;
  width: 70%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 5px;
  font-size: 12px;
  letter-spacing: 5px;
  background-color: lightcoral;
}
.user_profil_card_container {
  background-color: aqua;
  padding: 20px;
  text-align: center;
}

/* bouton de modification */
.btn_modif {
  background-color: cornflowerblue;
  text-align: center;
}
.btn_modif button {
  margin: 20px;
  height: 35px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
  font-weight: 900;
  background-color: #fff;
}
.shadow {
  box-shadow: 0 0 0 -2px white, 0 0, 0 0 0 -2px white, 0 0;
  transition: box-shadow 1s;
}
.shadow:hover {
  box-shadow: 5px -5px 0 -2px white, 5px -5px, 10px -10px 0 -2px white,
    10px -10px;
}

/* formulaire */
.form_container {
  background-color: #fff;
  width: 80%;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.post_label {
  /* background-color: cornflowerblue; */
  margin: 10px;
}

.post_label label {
  /* background-color: aqua; */
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  letter-spacing: 10px;
}

.post_label input {
  /* background-color: palevioletred; */
  text-align: center;
  border-radius: 10px;
  border-color: black;
  padding: 2px 0;
  width: 80%;
}

.post_label input:hover {
  cursor: pointer;
  background-color: #e2e5e0;
}

.post_label input[type="text"],
.post_label input[type="email"],
.post_label input[type="date"],
.post_label input[type="tel"] {
  color: gray;
  font-style: italic;
  font-size: 10px;
}

/* test */
/* fieldset {
  border-radius: 30px;
}

fieldset input {
  border-radius: 30px;
} */
