.user_profil_container {
  background-color: red;
}

.form_container {
  border-color: azure;
  padding: 20px;
}

.btn_modif {
  padding: 20px;
  background-color: paleturquoise;
}

.btn_container {
  padding: 20px;
  background-color: palegreen;
}
